.App {
  text-align: center;
}

.filmContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 10px;
    width: 25vw;
    height: 100%;
  }
}
img {
  width: 25vw;
}
.miniForm *{
font-size: 1.3rem;
border-radius: 5px;
}

.input[placeholder]{
  padding: 0% 1%;
  width: 30vw;
}
button{
  background-color: rgb(121, 121, 209);
  color: white;
}
button:hover{
  background-color: rgb(182, 182, 224);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
